{% extends 'fyyur/layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="{% url 'create_shows' %}">
      {% csrf_token %}
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group">
        <label for="artist_id">Artist ID</label>
        <small>ID can be found on the Artist's Page</small>
        <input type="number" name="artist_id" class ='form-control' required>
      </div>
      <div class="form-group">
        <label for="venue_id">Venue ID</label>
        <small>ID can be found on the Venue's Page</small>
        <input type="number" name="venue_id" class ='form-control' required>
      </div>
      <div class="form-group">
          <label for="start_time">Start Time</label>
          <input id='myDate' type="datetime-local" name="start_time" class ='form-control'>
        </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}